@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Poppins', sans-serif;
}

.screen-height {
  height: 100vh;
  height: 100dvh;
  
  max-height:100vh;
  max-height: 100dvh;
}